body {
    background: #181818;
}

* {
    padding: 0;
    margin: 0;
}

.img-site {
    display: flex;
    justify-content: center;
}

.img-site img {
    width: 300px;
}

.cards-categorias .card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
}

.cards-categorias .card h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.cards-categorias .card img {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
}

.cards-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-categorias .card .botao {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 49px;
    background-color: rgba(0, 71, 153, 0.3);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.cards-categorias .card .botao:hover {
    background-color: rgba(0, 119, 255, 0.3);
}

.footer {
    width: 100%;
    background-color: #000000;
    display: flex;
}
.footer img {
    width: 80px;
}

.footer h2 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255)
}